In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

import folium # plotting library

In [27]:
CLIENT_ID = 'MBIYWB1GPHLEJ4JQGYUJNMVLJN1NKBKNZ30LBP40GHIELBTR' # your Foursquare ID
CLIENT_SECRET = 'HM5ES3FCQPOWKTBD22VJP3N4CXVNRW3FGIVZHIHVHBG1H2OA' # your Foursquare Secret
ACCESS_TOKEN = 'OEKZ4J0WPJEYBMR2Z4LRYWEKLMO5DCHSDS4UYDHAAV1XHL2F' # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 50
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: MBIYWB1GPHLEJ4JQGYUJNMVLJN1NKBKNZ30LBP40GHIELBTR
CLIENT_SECRET:HM5ES3FCQPOWKTBD22VJP3N4CXVNRW3FGIVZHIHVHBG1H2OA

In [28]:
address = 'Rockefeller Center, New York, NY'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

40.75925755 -73.97995686116377

In [29]:
search_query = 'Coffee'
radius = 1000
print(search_query + ' .... OK!')

Coffee .... OK!

In [30]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=MBIYWB1GPHLEJ4JQGYUJNMVLJN1NKBKNZ30LBP40GHIELBTR&client_secret=HM5ES3FCQPOWKTBD22VJP3N4CXVNRW3FGIVZHIHVHBG1H2OA&ll=40.75925755,-73.97995686116377&oauth_token=OEKZ4J0WPJEYBMR2Z4LRYWEKLMO5DCHSDS4UYDHAAV1XHL2F&v=20180604&query=Coffee&radius=1000&limit=50'

In [31]:
results = requests.get(url).json()
len(results['response']['venues'])

50

In [32]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = pd.json_normalize(venues)
dataframe.head()

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,...,location.state,location.country,location.formattedAddress,delivery.id,delivery.url,delivery.provider.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.icon.name,venuePage.id
0,59ce5ad9a2a6ce39476dbf1d,Blue Bottle Coffee,"[{'id': '4bf58dd8d48988d1e0931735', 'name': 'C...",v-1611638733,False,10 E 53rd St,5th Ave,40.759465,-73.975672,"[{'label': 'display', 'lat': 40.75946472799885...",...,NY,United States,"[10 E 53rd St (5th Ave), New York, NY 10022, U...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5a10570ebb2a4740244092d3,Remi Flowers & Coffee,"[{'id': '4bf58dd8d48988d16d941735', 'name': 'C...",v-1611638733,False,906 2nd Ave,btwn E 48th & E 49th St,40.753751,-73.969075,"[{'label': 'display', 'lat': 40.7537510182011,...",...,NY,United States,"[906 2nd Ave (btwn E 48th & E 49th St), New Yo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,581b3b5b5c3b5845451935e0,Gregorys Coffee,"[{'id': '4bf58dd8d48988d1e0931735', 'name': 'C...",v-1611638733,False,762 7th Ave,West 50th Street,40.761250,-73.983359,"[{'label': 'display', 'lat': 40.76125, 'lng': ...",...,NY,United States,"[762 7th Ave (West 50th Street), New York, NY ...",1097646,https://www.seamless.com/menu/gregorys-coffee-...,seamless,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_seamless_20180129.png,437216324
3,4e6fe48c1fc7d3fc71285ec2,Gregorys Coffee,"[{'id': '4bf58dd8d48988d1e0931735', 'name': 'C...",v-1611638733,False,12 E 46th St,btwn Madison & 5th Ave,40.755434,-73.978271,"[{'label': 'display', 'lat': 40.7554338, 'lng'...",...,NY,United States,"[12 E 46th St (btwn Madison & 5th Ave), New Yo...",1043308,https://www.seamless.com/menu/gregorys-coffee-...,seamless,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_seamless_20180129.png,NaN
4,52f8ed59498ede6f715776d8,Sant Ambroeus Coffee Bar,"[{'id': '4bf58dd8d48988d16d941735', 'name': 'C...",v-1611638733,False,540 Park Ave,at 61st St,40.764365,-73.969354,"[{'label': 'display', 'lat': 40.76436530280706...",...,NY,United States,"[540 Park Ave (at 61st St), New York, NY 10065...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['id','name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered.head()

,id,name,categories,address,crossStreet,lat,lng,labeledLatLngs,distance,postalCode,cc,neighborhood,city,state,country,formattedAddress
0,59ce5ad9a2a6ce39476dbf1d,Blue Bottle Coffee,Coffee Shop,10 E 53rd St,5th Ave,40.759465,-73.975672,"[{'label': 'display', 'lat': 40.75946472799885...",362,10022,US,Midtown East,New York,NY,United States,"[10 E 53rd St (5th Ave), New York, NY 10022, U..."
1,5a10570ebb2a4740244092d3,Remi Flowers & Coffee,Café,906 2nd Ave,btwn E 48th & E 49th St,40.753751,-73.969075,"[{'label': 'display', 'lat': 40.7537510182011,...",1103,10017,US,"Turtle Bay, New York, NY",New York,NY,United States,"[906 2nd Ave (btwn E 48th & E 49th St), New Yo..."
2,581b3b5b5c3b5845451935e0,Gregorys Coffee,Coffee Shop,762 7th Ave,West 50th Street,40.761250,-73.983359,"[{'label': 'display', 'lat': 40.76125, 'lng': ...",362,10019,US,NaN,New York,NY,United States,"[762 7th Ave (West 50th Street), New York, NY ..."
3,4e6fe48c1fc7d3fc71285ec2,Gregorys Coffee,Coffee Shop,12 E 46th St,btwn Madison & 5th Ave,40.755434,-73.978271,"[{'label': 'display', 'lat': 40.7554338, 'lng'...",448,10017,US,NaN,New York,NY,United States,"[12 E 46th St (btwn Madison & 5th Ave), New Yo..."
4,52f8ed59498ede6f715776d8,Sant Ambroeus Coffee Bar,Café,540 Park Ave,at 61st St,40.764365,-73.969354,"[{'label': 'display', 'lat': 40.76436530280706...",1059,10065,US,NaN,New York,NY,United States,"[540 Park Ave (at 61st St), New York, NY 10065..."

In [34]:
venue_id = '59ce5ad9a2a6ce39476dbf1d' # ID of Harry's Italian Pizza Bar
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&oauth_token={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET,ACCESS_TOKEN, VERSION)
url

'https://api.foursquare.com/v2/venues/59ce5ad9a2a6ce39476dbf1d?client_id=MBIYWB1GPHLEJ4JQGYUJNMVLJN1NKBKNZ30LBP40GHIELBTR&client_secret=HM5ES3FCQPOWKTBD22VJP3N4CXVNRW3FGIVZHIHVHBG1H2OA&oauth_token=OEKZ4J0WPJEYBMR2Z4LRYWEKLMO5DCHSDS4UYDHAAV1XHL2F&v=20180604'

In [15]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
#result['response']['venue']
df_venue = pd.json_normalize(result['response']['venue'])
df_venue.head()

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'price', 'likes', 'like', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'popular', 'seasonalHours', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto'])

,id,name,canonicalUrl,categories,verified,like,dislike,ok,rating,ratingColor,...,attributes.groups,bestPhoto.id,bestPhoto.createdAt,bestPhoto.source.name,bestPhoto.source.url,bestPhoto.prefix,bestPhoto.suffix,bestPhoto.width,bestPhoto.height,bestPhoto.visibility
0,59ce5ad9a2a6ce39476dbf1d,Blue Bottle Coffee,https://foursquare.com/v/blue-bottle-coffee/59...,"[{'id': '4bf58dd8d48988d1e0931735', 'name': 'C...",False,False,False,False,8.6,73CF42,...,"[{'type': 'price', 'name': 'Price', 'summary':...",5ffb12249c2f53747daec482,1610289700,Swarm for iOS,https://www.swarmapp.com,https://fastly.4sqi.net/img/general/,/40354826_F4_cKHJbpHZVMrQrB6JD1RrsMYpDKrCSBSjg...,1033,1920,public

In [36]:
df_venue[["id","name","rating"]]

                         id                name  rating
0  59ce5ad9a2a6ce39476dbf1d  Blue Bottle Coffee     8.6